body {
    background-color: papayawhip;
}

.wrapper {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.list-for-dispositor {
    height: 420px;
    width: 560px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;

    background-color: blueviolet;
}

.list-scroll {
    height: 380px;
    overflow-y: scroll;
}

.table-header {
    height: 36px;
    font-size: 18px;
    text-align: left;
}

.data-row {
    height: 24px;
    text-align: left;
}

.namecell {
    width: 100px;
    padding-left: 20px;
}

.addresscell {
    width: 300px;
}

.buttoncell {
    width: 60px;
}

.empty {
    clear: both;
}
