body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

h1.list-header {
    width: 100%;
    text-align: center;
}

.list-for-dispositor table {
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
}

    .list-for-dispositor table thead {
        height: 70px;
        display: block;
        color: #fefefe;
        background-color: #4075c9;
    }

    .list-for-dispositor table tbody {
        display: block;
        height: 350px;
        overflow-y: scroll;
    }

        .list-for-dispositor table tbody tr {
            border-bottom: 1px solid #dedede;
            background-color: #eeeeff;
        }

            .list-for-dispositor table tbody tr:nth-of-type(even) {
                background-color: #ffffff;
            }

            .list-for-dispositor table tbody tr td, .list-for-dispositor table thead tr td {
                padding: 20px 0 20px 23px;
                overflow: hidden;
            }

.wrapper {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    text-align: center;
}

.list-for-dispositor {
    height: 540px;
    width: 560px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;
    text-align: left;
}

.list-for-dispositor-table {
    width: 100%;
}

.table-header {
    height: 70px;
    font-size: x-large;
    font-weight: bold;
}

.data-row {
    height: 40px;
}

.id-cell {
    max-width: 30px;
    min-width: 30px;
}

.location-cell {
    max-width: 160px;
    min-width: 160px;
}

.priority-cell {
    max-width: 120px;
    min-width: 120px;
    text-align: center;
}

.button-cell {
    max-width: 150px;
    min-width: 150px;
}

.button-header {
    max-width: 150px;
    min-width: 150px;
}

.helper-id-cell {
    max-width: 30px;
    min-width: 30px;
}

.helper-location-cell {
    max-width: 170px;
    min-width: 170px;
}

.helper-products-cell {
    max-width: 142px;
    min-width: 142px;
}

.helper-button-cell {
    max-width: 110px;
    min-width: 110px;
}

.helper-button-header {
    max-width: 120px;
    min-width: 120px;
}

.matcher {
    width: 1200px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    color: #fefefe;
    background-color: #4075c9;
}

.matcher-person-in-need, .matcher-helper {
    max-width: 640px;
    min-width: 640px;
    font-size: larger;
}

.empty {
    clear: both;
}

.modal-window, .right-modal-window {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: 45%;
    width: 60%;
    overflow: visible;
    background-color: #f0f0f0;
    border: 2px solid gray;
    padding: 20px;
    overflow-y: auto;
}

    .modal-window .info-holder {
        max-width: 260px;
        min-width: 260px;
        float: left;
    }

    .right-modal-window .info-holder {
        max-width: 390px;
        min-width: 390px;
        font-size: 20px;
        float: left;
    }

.info-holder ul li {
    margin-top: 5px;
}

.buttons-holder {
    width: 140px;
    text-align: right;
    float: left;
}

button.modal-window-button {
    border: none;
    color: #fefefe;
    background-color: gray;
    margin-right: 5px;
    border-radius: 20px;
    padding: 5px 10px;
}

button.app-button {
    border: none;
    color: #fefefe;
    background-color: #008CBA;
    margin-right: 5px;
    border-radius: 20px;
    padding: 5px 10px;
}

    button.modal-window-button:hover, button.app-button:hover, button.match-button:hover, .nav-button:hover {
        cursor: pointer;
    }

button.match-button {
    border: none;
    color: black;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.sticker {
    color: gray;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    display: inline-block;
    padding: 0;
}

.nav-button {
    background-color: #f0f0f0;
    border: 1px solid gray;
    margin: 0;
}

.big-table {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #4075c9;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    text-align: left;
}

    .big-table thead {
        display: block;
        color: #fefefe;
        background-color: #4075c9;
        font-size: large;
    }

    .big-table tbody {
        display: block;
        max-height: 560px;
        min-height: 560px;
        overflow-y: scroll;
    }

    .big-table td {
        padding: 23px 0 23px 20px;
        overflow: hidden;
    }

    .big-table tbody tr {
        border-bottom: 1px solid #dedede;
        background-color: #eeeeff;
        width: 100%;
        display: block;
    }

        .big-table tbody tr:nth-of-type(even) {
            background-color: #ffffff;
        }

.people-in-need-id-cell {
    max-width: 40px;
    min-width: 40px;
}

.people-in-need-first-name-cell {
    max-width: 100px;
    min-width: 100px;
}

.people-in-need-location-cell {
    max-width: 200px;
    min-width: 200px;
}

.people-in-need-products-cell {
    max-width: 350px;
    min-width: 350px;
}

.people-in-need-found-help-cell {
    max-width: 135px;
    min-width: 135px;
    text-align: center;
}

.table-rounder {
    height: 20px;
    background-color: #4075c9;
    border-radius: 0 0 20px 20px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.half-header {
    text-align: center;
}

.matches-id-cell {
    max-width: 30px;
    min-width: 30px;
}

.matches-first-name-cell {
    max-width: 100px;
    min-width: 100px;
}

.matches-last-name-cell {
    max-width: 110px;
    min-width: 110px;
}

.matches-location-cell {
    max-width: 140px;
    min-width: 140px;
}

.left-border {
    border-left: 1px dashed white;
}

.bottom-border {
    border-bottom: 1px dashed white;
}

.interactive-row:hover {
    cursor: pointer;
}

.matches-modal-window {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: 50%;
    width: 1368px;
    overflow: visible;
    background-color: #f0f0f0;
    border: 2px solid gray;
    padding: 20px;
    overflow-y: auto;
}

    .matches-modal-window .info-holder {
        overflow-wrap: break-word;
        width: 240px;
        padding-left: 20px;
        float: left;
    }

    .matches-modal-window .buttons-holder {
        align-self: center;
        width: 50px;
    }

#matches-list {
    height: 480px;
}

#wider {
    width: 480px;
}

.form-wrapper {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    text-align: center;
}

.needy-form-basic-info {
    width: 300px;
    margin-top: 20px;
    text-align: left;
    float: left;
}

    .needy-form-basic-info label {
        padding: 0px;
    }

    .needy-form-basic-info input {
        width: 200px;
        margin-bottom: 10px;
    }

    .needy-form-basic-info p {
        margin-top: 30px;
    }

div.needy-form-right-div {
    width: 300px;
    text-align: left;
    float: left;
}

.needy-form-right-div input {
    margin-bottom: 15px;
}

.needy-form-right-div select {
    margin-bottom: 10px;
}

.productList {
}

.needy-form-life-situation {
}

.needy-form-radio {
    width: 480px;
    margin-top: 20px;
    float: left;
}


    .needy-form-radio input {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .needy-form-radio select {
        width: 200px;
        margin-top: 15px;
        margin-bottom: 20px;
    }


.text-in-radio {
    text-align: left;
}

.input-class {
    width: 190px;
}

.helper-form-wrapper {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.helper-form-wrapper input {
    margin-bottom: 20px;
}

    .helper-form-wrapper select {
        margin-top: 5px;
        margin-bottom: 10px;
    }

.helper-form-basic-info {
    width: 200px;
    text-align: left;
    float: left;
}

.helper-form-products {
    width: 200px;
    text-align: left;
    float: left;
}

.index-wrapper {
    width: 640px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.big-header {
    font-size: 47px;
    margin-bottom: 50px;
}

.index-button {
    display: block;
    width: 360px;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #fefefe;
    background-color: #4075c9;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
