@page
@model PlatformaWsparciaRazorPages.Pages.AddHelperModel
@{ }

<div class="sticker">
    <a class="nav-button" asp-page="./Index"> Homepage </a>
</div>

<div class="helper-form-wrapper">
    <form>
        <h2>Information about helper</h2>

        <div class="helper-form-basic-info">
            <label for="fname">First name:</label> <br />
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label> <br />
            <input type="text" id="lname" name="lname"><br>
            
            <label for="phonenumber">Phone Number:</label> <br />
            <input type="text" id="pnumber" name="pnumber"><br>
            <label for="email">Email:</label> <br />
            <input type="text" id="email" name="email"><br>
           
            <label for="town">Town:</label> <br />
            <input type="text" id="town" name="town"><br>
            <label for="address">Address:</label> <br />
            <input type="text" id="address" name="address"><br>
            <label for="postcode">PostCode:</label> <br />
            <input type="text" id="postcode" name="postcode"><br>
        </div>

        <div class="productList helper-form-products">
            <p>Products</p>
            <label for="productType1">Product Type:</label> <br />
            <select class="productType" name="productType1">
                <option value="Financial support">Financial Support</option>
                <option value="Food products">Food Product</option>
                <option value="Medical products">Medical Product</option>
                <option value="Chemical products">Chemical Product</option>
                <option value="Clothes">Clothes</option>
                <option value="Others">Others</option>
            </select>
            <br />
            <label for="productName1">Product Name:</label> <br />
            <input type="text" name="productName1" class="productName"><br>
            
            <label for="productType2">Product Type:</label> <br />
            <select class="productType" name="productType2">
                <option value="Financial support">Financial Support</option>
                <option value="Food products">Food Product</option>
                <option value="Medical products">Medical Product</option>
                <option value="Chemical products">Chemical Product</option>
                <option value="Clothes">Clothes</option>
                <option value="Others">Others</option>
            </select>
            <br />
            <label for="productName2">Product Name:</label> <br />
            <input type="text" name="productName2" class="productName"><br>
            
            <label for="productType3">Product Type:</label> <br />
            <select class="productType" name="productType3">
                <option value="Financial support">Financial Support</option>
                <option value="Food products">Food Product</option>
                <option value="Medical products">Medical Product</option>
                <option value="Chemical products">Chemical Product</option>
                <option value="Clothes">Clothes</option>
                <option value="Others">Others</option>
            </select>
            <br />
            <label for="productName3">Product Name:</label>  <br />
            <input type="text" name="productName3" class="productName"><br>
        </div>

        <div class="empty"></div>
    </form>
    <br />
    <button onclick="addhelper()" id="submitButton">Submit</button>
</div>

<script src="~/js/utilities.js"></script>
<script src="~/js/addhelper.js"></script>
<script>publicListMainFunction();</script>