@page
@model PlatformaWsparciaRazorPages.Pages.DispositorViewModel
@{
}

<div class="wrapper">
    <h1>DISPOSITOR VIEW</h1>

    <div class="list-for-dispositor">
        <h3> People in need </h3>
        <table>
            <thead>
                <tr class="table-header">
                    <td class="id-cell"> ID </td>
                    <td class="location-cell"> Location </td>
                    <td class="priority-cell"> Priority</td>
                    <td class="button-header"> Action </td>
                </tr>
            </thead>
            <tbody class="list-scroll" id="people-in-need"></tbody>
        </table>
    </div>

    <div class="list-for-dispositor">
        <h3> People eager to help </h3>
        <table>
            <thead>
                <tr class="table-header">
                    <td class="helper-id-cell"> ID </td>
                    <td class="helper-location-cell"> Location </td>
                    <td class="helper-products-cell"> Products</td>
                    <td class="helper-button-header"> Action </td>
                </tr>
            </thead>
            <tbody class="list-scroll" id="helpers"></tbody>
        </table>
    </div>

    <div class="empty"></div>

    <div class="matcher">
        <table>
            <tr>
                <td class="matcher-person-in-need"> Person in need </td>
                <td class="matcher-helper"> Helper </td>
            </tr>

            <tr>
                <td class="matcher-person-in-need"> - </td>
                <td class="matcher-helper"> - </td>
            </tr>
        </table>

        <button onclick="match()"> Match </button>
    </div>
</div>

<script src="~/js/dispositorView.js"></script>
<script>main();</script>