@page
@model PlatformaWsparciaRazorPages.Pages.IndexModel
@{
}


<div class="index-wrapper">
    <h1 class="big-header">Platform of Support</h1>
    <a class="index-button" asp-page="./PublicListOfPeopleInNeed"> List of people in need </a>
    <a class="index-button" asp-page="./AddHelper"> Offer help </a>
    <a class="index-button" asp-page="./AddNeedy"> Request for help </a>
    <a class="index-button" asp-page="./DispositorView"> Dispositor panel </a>
    <a class="index-button" asp-page="./Matches"> View matches </a>
</div>
